# --- Derleme Ciktilari ---
*.exe
*.out
*.app
*.o
*.obj
x64/
Debug/
Release/

# --- Visual Studio Dosyalari ---
.vs/
*.pdb
*.user
*.suo
*.slnx

# --- VS Code ve Sistem ---
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp
